# Clocks
NET "clk" PERIOD = 20 ns | LOC = "K3"; # IO_L42P_GCLK25_TRDY2_M3UDM
#NET "clk" PERIOD = 31.25 ns | LOC = "J4"; # IO_L42N_GCLK24_M3LDM_3
# Reset
NET "rst_in_n" LOC="M11" | IOSTANDARD=LVTTL | PULLUP;
# Start
#NET "START_I" LOC="J1" | IOSTANDARD=LVTTL | PULLUP;
# Uart 
NET "uart_rx" LOC="M7" | IOSTANDARD=LVTTL | PULLUP;
NET "uart_tx" LOC="N6" | IOSTANDARD=LVTTL;
# LEDs
NET "LED_BAR_O<0>" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED_BAR_O<1>" LOC="N9" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED_BAR_O<2>" LOC="M9" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED_BAR_O<3>" LOC="P9" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED_BAR_O<4>" LOC="T8" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED_BAR_O<5>" LOC="N8" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED_BAR_O<6>" LOC="P8" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED_BAR_O<7>" LOC="P7" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
# DIP Switches
#NET "BOOT_CONFIG_I<0>" LOC="L1" | IOSTANDARD=LVTTL | PULLUP;
#NET "BOOT_CONFIG_I<1>" LOC="L3" | IOSTANDARD=LVTTL | PULLUP;
#NET "BOOT_CONFIG_I<2>" LOC="L4" | IOSTANDARD=LVTTL | PULLUP;
#NET "BOOT_CONFIG_I<3>" LOC="L5" | IOSTANDARD=LVTTL | PULLUP;
# GPI
#NET "GP_INPUT_I<0>" LOC="L1" | IOSTANDARD=LVTTL | PULLUP;
# GPO
NET "GP_OUTPUT_O<0>" LOC="E2" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "GP_OUTPUT_O<1>" LOC="E1" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "GP_OUTPUT_O<2>" LOC="E4" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "GP_OUTPUT_O<3>" LOC="F4" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "GP_OUTPUT_O<4>" LOC="F5" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "GP_OUTPUT_O<5>" LOC="G3" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "GP_OUTPUT_O<6>" LOC="F3" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "GP_OUTPUT_O<7>" LOC="G1" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
# I2C Port
#NET "I2C_SCL_IO" LOC="H3" | IOSTANDARD=LVTTL | PULLUP;
#NET "I2C_SDA_IO" LOC="H1" | IOSTANDARD=LVTTL | PULLUP;
# SDRAM
NET "s_banksel<1>"    LOC="F15"   | IOSTANDARD=LVTTL;
NET "sdr_clk" LOC="G16" | IOSTANDARD=LVTTL;
NET "s_clken"     LOC="H16"   | IOSTANDARD=LVTTL;
NET "s_bytesel<1>"     LOC="T14"   | IOSTANDARD=LVTTL;
NET "s_bytesel<0>"     LOC="R14"   | IOSTANDARD=LVTTL;
NET "s_cs_n" LOC="R1"  | IOSTANDARD=LVTTL;
NET "s_ras_n"    LOC="R2"    | IOSTANDARD=LVTTL;
NET "s_cas_n"    LOC="T4"    | IOSTANDARD=LVTTL;
NET "s_wr_en"     LOC="R5"    | IOSTANDARD=LVTTL;
NET "s_banksel<0>"    LOC="T5"    | IOSTANDARD=LVTTL;
NET "s_addr<0>"    LOC="T15"   | IOSTANDARD=LVTTL;
NET "s_addr<1>"    LOC="R16"   | IOSTANDARD=LVTTL;
NET "s_addr<2>"    LOC="P15"   | IOSTANDARD=LVTTL;
NET "s_addr<3>"    LOC="P16"   | IOSTANDARD=LVTTL;
NET "s_addr<4>"    LOC="N16"   | IOSTANDARD=LVTTL;
NET "s_addr<5>"    LOC="M15"   | IOSTANDARD=LVTTL;
NET "s_addr<6>"    LOC="M16"   | IOSTANDARD=LVTTL;
NET "s_addr<7>"    LOC="L16"   | IOSTANDARD=LVTTL;
NET "s_addr<8>"    LOC="K15"   | IOSTANDARD=LVTTL;
NET "s_addr<9>"    LOC="K16"   | IOSTANDARD=LVTTL;
NET "s_addr<10>"   LOC="R15"   | IOSTANDARD=LVTTL;
NET "s_addr<11>"   LOC="J16"   | IOSTANDARD=LVTTL;
NET "s_addr<12>"   LOC="H15"   | IOSTANDARD=LVTTL;
NET "s_data<0>"    LOC="T13"   | IOSTANDARD=LVTTL;
NET "s_data<1>"    LOC="T12"   | IOSTANDARD=LVTTL;
NET "s_data<2>"    LOC="R12"   | IOSTANDARD=LVTTL;
NET "s_data<3>"    LOC="T9"    | IOSTANDARD=LVTTL;
NET "s_data<4>"    LOC="R9"    | IOSTANDARD=LVTTL;
NET "s_data<5>"    LOC="T7"    | IOSTANDARD=LVTTL;
NET "s_data<6>"    LOC="R7"    | IOSTANDARD=LVTTL;
NET "s_data<7>"    LOC="T6"    | IOSTANDARD=LVTTL;
NET "s_data<8>"    LOC="F16"   | IOSTANDARD=LVTTL;
NET "s_data<9>"    LOC="E15"   | IOSTANDARD=LVTTL;
NET "s_data<10>"   LOC="E16"   | IOSTANDARD=LVTTL;
NET "s_data<11>"   LOC="D16"   | IOSTANDARD=LVTTL;
NET "s_data<12>"   LOC="B16"   | IOSTANDARD=LVTTL;
NET "s_data<13>"   LOC="B15"   | IOSTANDARD=LVTTL;
NET "s_data<14>"   LOC="C16"   | IOSTANDARD=LVTTL;
NET "s_data<15>"   LOC="C15"   | IOSTANDARD=LVTTL;
# SPI for SDCard
NET "spi_ncs<0>" LOC="K12" | IOSTANDARD=LVTTL; # SD_DAT3/CD/CS
#NET "spi_ncs<1>" LOC="??" | IOSTANDARD=LVTTL;
NET "spi_clk1" LOC="L12" | IOSTANDARD=LVTTL;
NET "spi_mosi1" LOC="K11" | IOSTANDARD=LVTTL; # SD_CMD/SDI
NET "spi_miso1" LOC="M10" | IOSTANDARD=LVTTL; # SD_DAT0/SDO
#NET "spi_clk1" LOC="??" | IOSTANDARD=LVTTL;
#NET "spi_clk1" LOC="??" | IOSTANDARD=LVTTL;
#NET "spi_clk1" LOC="??" | IOSTANDARD=LVTTL;
